<%= render partial: "header" %>
<div class = "search">

<div class="container">
<div class="row">
 
<% @posts.each do |post| %>
 
    <div class="col-md-3 card bg-black margin-top-5per">
<div class="img_wrap">




<%= image_tag post.image.url, class: 'card-img',alt: "Card image" %>
  <div class="card-img-overlay">
    <h4 class="card-title" >
         <%= post.title %>
         </h4>
    <p class="card-text">
      <%= post.created_at.strftime('%Y/%m/%d')%>
        
        </p>

    <p class="card-text">
  
    </p>
  </div>
</div>

</div>
 

<% end %>
</div>
</div>
<%= render partial: "footer" %>